h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

/* Podstawowe ustawienia */
* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Elementy nie mogą być szersze niż ekran */
img,
iframe,
video {
    max-width: 100%;
    height: auto;
}

/* Kontenery */
.container,
section,
main {
    width: 100%;
    max-width: 100%;
}

/* Elementy flex nie powinny wymuszać szerokości */
.flex,
.row {
    max-width: 100%;
    flex-wrap: wrap;
}





h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* layout */
.container-fluid {
  padding: 3% 15% 7%;
}
.hemo {
    
    height: auto;
    display: block;

    margin-top: -450px;
    margin-left: 100px;

    position: relative;
    z-index: 1;
}

h1 {
    position: relative;
    z-index: 2;
}
/* TITLE */
#title {
  background-color: #6d3dc0;
  color: white;
}

.navbar {
  padding-bottom: 4rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

/* buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* FEATURES */
#features {
  background: white;
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

p {
  color: #8f8f8f;
}

/* TESTIMONIALS */
#testimonials {
  background-color: #ef8172;
  color: white;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

/* CTA */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
}

.cta_text {
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

/* FOOTER */
#footer {
  text-align: center;
  padding: 50px 0;
  background: white;
}