@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
margin:0;
padding:0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.main
{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3475ca;
    display: flex;
    justify-content: center;
    align-items:center;
}
.main2
{
    position: relative;
    width: 100%;
    
    background: #3475ca;
    display: flex;
    justify-content: center;
    align-items:center;
}
.main img
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}
.main .content
{
    position: relative;
    max-width: 750px;
    text-align: center;
}
.main .content h2
{
    color: #fff;
    font-size: 55px;
}
.main .content p
{
    color: #fff;
    font-size: 18px;
}
.main header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    
    z-index: 10000;
}
.main2 header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    z-index: 10000;
}
.main header .logo
{
    color:white;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.main2 header .logo
{
    color:white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 40px;
}
.main header .toggle
{
    position: relative;
    width: 36px;
    height: 28px;
    background: url(toggle.png);
    background-size: cover;
    cursor: pointer;
}
.main2 header .toggle
{
    position: relative;
    width: 36px;
    height: 28px;
    background: url(toggle.png);
    background-size: cover;
    cursor: pointer;
}
.about
{
    position: relative;
    width: 100%;
    display: flex;
}
.about .contentBx
{
    background: #12222d;
    padding: 60px;
    width: 50%;
}
#myButton
{
    background-color: #12222d;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin-top: 8px;
    margin-bottom: 8px;
    border-color:#3475ca ;
}
#myButton:hover
{
	background-color:#3475ca ;
}
#wiecejButton
{
    background-color: #12222d;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 8px;
    margin-bottom: 8px;
    border-color:#3475ca ;
}
.heading
{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
svg {
    width: 40px;
    height: 60px;
    margin-left:auto;
    padding-right: 20px;
}
svg path {
    fill: #ffffff;
}

#ikona2
{
    width: 50px;
    height: 50px;

}
.sciezka2
{
    fill: black;
}

.text
{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px; 
}
.text5
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px; 
    text-align: center;
}
.text8
{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.2px;
}

.text1
{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.2px;
}
.about .imgBx
{
    background: url(window.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}

#pc
{
    
    max-width: 180px;
    max-height: 150px;
}

#insta
{
   max-width: 200px;
   cursor: pointer;
   
}
.bigboxkal6
{
	display: flex;
	padding:50px;
	flex-direction: column;
	justify-content: space-around;
	height: 10000px;
	font-size: 23px;
	line-height: 30px;
    background-color: #000000;
    color: #ffffff;
}

.contentkal6a 
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6b
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6c
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6d
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;	
}

.contentkal6e
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6f
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6g
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}
#champion
{
    height: 40px;
}


.contentkal6h
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6i
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6j
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6k
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6l
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6m
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6n
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6o
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.contentkal6p
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}


.WIC1
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.WIC2
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.WIC3
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.WIC4
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.WIC5
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.WIC6
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.GIC1
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.GIC2
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.GIC3
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.u1
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.u2
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.u3
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.euI
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.euII
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.euIII
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.euIV
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.euV
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.euVI
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.euVII
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.euVIII
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.euIX
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.meI
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.meII
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.mśI
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.mśII
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.pruszcz
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.pp1
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.pp2
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.pp3
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.ump1
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}

.tmp1
{
	background: #0D0D0D;
	border:none;
	border-radius: 5px;
	padding: 40px;
}



.button 
{
	background-color: #de31d0;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 8px;
}
.button1
{
	background-color: #e71c70;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 8px;
}
.button1:hover
{
	background-color: #dc5ca9;
}
.button:hover
{
	background-color: #dd81d6;
}

.bigboxkal6 span
{
	color: #bf0dcf;
	font-weight: 600;
	letter-spacing: 1px;
}








.card
{
    background: #12222d;
    padding: 100px;
    text-align: center;
}
.card .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    flex-wrap: wrap;
    margin-top: 60px;
}
.card .container .serviceBx
{
    position: relative;
    background: #fff;
    width: 400px;
    height:1380px;
    display: flex;
    justify-content: center;
    
    margin-bottom: 40px;
}
.card .container .serviceBx img
{
    max-width: 100px;
    margin-top: 40px;
}
.card .container .serviceBx h2
{
    font-weight:500;
    font-size:20px;
    letter-spacing: 1px;
}
.tech
{
    background: #3f8ffc;
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tech .contentBx
{
    max-width: 800px;
}
.tech .imgBx
{
    max-width: 250px;
}
.tech .imgBx img
{
    max-width: 100%;
}
.bootcamp
{
    background: ;
    padding: 100px;
    text-align: center;
}
.bootcamp h2
{
    background:black ;
}
.bootcamp .imgBx
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.bootcamp .imgBx img
{
    max-width: 300px;
    margin: 10px;
    cursor: pointer;
}
.bootcamp .imgBx img:hover
{
    opacity: ;
}
.opinions
{
    position: relative;
    padding:100px;
    background: #12222d;
    text-align: center;
    font-size: 20px;
}
.opinions .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.opinions .container .contentBx
{
    background: #fff;
    padding: 60px 50px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: left;
    margin: 10px;
}
.opinions .container .contentBx p
{
    font-style: italic;
}
.opinions .container .contentBx h3
{
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: #3475ca;
}
.contact
{
    padding: 70px;
    background: #162c3b;
    text-align: center;
}
.contact p
{
 font-size: 15px;
 color:#fff;
}
.contact1
{
    padding: 70px;
    background: #162c3b;
    text-align: center;
}
.contact1 p
{
 font-size: 20px;
 color:#3475ca;
}
.imgBx2
{
    background: url(zzz.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
}
.redbg
{
    background: #162c3b; !important;s
    background-size: cover;
    background-position: center;
}
#displayText {
    display: none;
  }
.form
{
    margin-bottom: 40px;
}
.form .inputBx input
{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 0.5px solid #fff;
}
.form .inputBx input::placeholder
{
    color:#fff;
}
.form .inputBx textarea
{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    min-height: 150px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder
{
    color:#fff;
}
.form .inputBx input[type="submit"]
{
   
    padding: 10px;
    background: #162c3b;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    margin-top: 20px;
    border-color: #3475ca;
}
.form .inputBx input[type="submit"]:hover
{
    background: #3475ca;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    margin-top: 20px;
}
#displayText
{
    color: #fff;
    font-size: 13px;
}

.footer
{
    background: #162c3b;
    padding: 0px 50px;
   
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer ul li
{
    list-style: none;
}
.footer ul li a
{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}
.footer ul li a img
{
    filter: invert(1);
    max-width: 30px;
}
@media (max-width: 991px)

{
    
    .text5
{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px; 
}
.text
{
    font-size: 30px; 
}
.opinions .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}
.text8
{
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1.2px;
}
    .heading
    {
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .main
    {
        padding: 50px;
    }
    .main header
    {
        padding: 50px 50px;
    }
    .main .content h2
    {
       
    }
    .main .content p
    {
        font-size: 36px;
    }
    .about
    {
        flex-direction: column;
    }
    .about .contentBx,
    .about .imgBx
    {
        width: 100%;
        padding: 50px;
        min-height: 480px;
        text-align: left;
    }
    .card
    {
        padding: 50px;
    }
    .card .container
    {
        justify-content: center;
        
    }
    .card .container .serviceBx
    {
        margin: 20px;
      
    }
    .tech
    {
        padding: 50px;
        padding-top:300px;
        justify-content: center;
        flex-direction: column;
    }
    .tech .imgBx
    {
        margin-top: 40px;
        max-width: 250px;
    }
    .bootcamp
    {
        padding: 50px;
    }
    .bootcamp .imgBx
    {
        justify-content: center;
    }
    .opinions
    {
        padding: 50px;
    }
    .opinions .contentBx
    {
        padding: 60px 40px;
        max-width: 550px;
        margin-bottom: 40px;
        
    }
    .opinions .contentBx:last-child
    {
        margin-bottom: 0px;
        
    }
    .contact
    {
        padding: 50px;
    }

    .footer
    {
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer ul
    {
        margin-bottom: 20px;
    }
}
@media (max-width: 400px)
{
    .main .content h2
    {
        font-size: 36px;
    }
    .main .content p
    {
 
    }
}